@media (max-width: 640px) {

    html,
    body {
        margin: 0;
        padding: 0;
        max-width: 640px;
        background-color: rgba(242, 242, 242, 0.95);

    }

    .container {
        width: 640px;
        display: flex;
        padding: 0;
        margin: 0;
    }

    .header {
        margin: 0;
        padding: 0;
        height: 63px;
    }

    .banner-wrapper {


        height: 390px;
    }

    .banner-container video {
        width: 640px !important;
    }

    .main-nav {
        height: 63px;
        width: 456px;
        font-family: "Segoe WP",
            Arial,
            sans-serif;
        font-size: 19px;
        letter-spacing: 0px;
        color: #9b7d08;
        background-color: #F5C506;
        text-align: center;
        display: flex;
        margin: 0;
        justify-content: center;
    }

    .main-nav-text {
        padding-top: 3px;
        margin-left: 8px;
        transition: 0.3s;
    }

    .main-nav-text:hover {
        transition: 0.3s;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.42);
    }

    .main-nav-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 152px;
    }

    .main-nav-container:first-child {
        border-right: 1px solid #9b7d08;
    }

    .main-nav-container:nth-child(2) {
        border-right: 1px solid #9b7d08;
    }

    .logo-container {
        height: 63px;
        width: 186px;
        background-color: #5B5B5B;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo-container img {
        height: 39px;
        width: 39px
    }

    .logo-text {
        font-size: 20px;
        letter-spacing: 0px;
        color: rgb(255, 255, 255);
        font-family: 'Lucida Sans',
            sans-serif;
        font-style: italic;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 1.2;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
        padding-top: 2px;
        margin-left: 5px;
    }

    .banner {
        display: flex;
        align-items: center
    }

    .banner-container {
        height: 327px;
        justify-content: space-between;
        align-items: center;
    }

    .video-desktop {
        visibility: hidden;
        display: none;
    }

    .banner-container div:first-child {
        height: 327px;
    }

    .banner-arrow {
        visibility: hidden;
        display: none;
        padding-bottom: 8px;
    }

    .banner-text {
        visibility: hidden;
        display: none;
        font-size: 63px;
        font-family: "Asap",
            Arial,
            sans-serif;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
    }

    .banner-text p:first-child {
        color: rgb(245, 197, 6);
        padding-top: 10px;
    }

    .banner-text p:last-child {
        color: white;
        padding-bottom: 40px;
    }

    .banner-text p {
        padding-bottom: 5px;
        padding-right: 10px;
        margin: 0;
    }


    .advantages {
        align-items: center;
        height: 174px;
        box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 0.4),
            0px -11px 0px 0px rgba(255, 255, 255, 0.4);
        position: relative;
    }

    #video-controls {
        width: 549px;
        margin: 0px auto;
        bottom: 125px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .play {
        position: relative;
        left: 292px;
        bottom: 200px;
        cursor: pointer;
    }

    .monkey-play {
        position: relative;
        left: 134px;
        bottom: 140px;
        cursor: pointer;

    }

    .play-square {
        height: 26px;
        margin-left: 15px;
        background-color: rgba(245, 197, 6, 0.3);
    }

    progress {
        width: 400px;
        height: 11px;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
    }

    progress::-webkit-progress-bar {
        width: 400px;
        height: 11px;
        border-radius: 5px;
        background-color: rgb(245, 197, 6, 0.3);
    }

    progress::-webkit-progress-value {
        width: 400px;
        height: 11px;
        border-radius: 5px 0px 0px 5px;
        background-color: rgb(245, 197, 6);
    }

    .volume {
        height: 17px;
    }

    .advantages-item {
        width: 216.5px;
        height: 154px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        border-right: 1px solid #d0d0d0;
    }

    .advantages-item:first-child {
        border-left: 1px solid #d0d0d0;
    }

    .advantages p {
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .twitter {
        height: 233px;
        width: 320px;
        background-color: #F5C507;
        display: flex;
        justify-content: center;
    }

    .monkey {
        height: 232px;
        width: 265px;
        margin: 10px 10px 10px 0px;

    }

    .monkey-text {
        margin: 10px;
        height: 232px;
        width: 265px;
        padding-left: 30px;
        font-size: 28px;
        font-family: "Segoe WP", sans-serif;
        word-wrap: break-word;
        color: rgb(255, 255, 255);
        line-height: 1.308;
        text-align: left;
        background-color: #EC9E03;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .monkey-text p {
        margin: 15px auto 0px;
    }

    .monkey-text a {
        position: relative;
        bottom: 5px;
        left: 120px;
        height: 11px;
    }

    .monkey-plus {
        height: 11px;

    }

    .monkey-plus img {
        transition: 0.3s;
    }

    .monkey-plus img:hover {
        transition: 0.3s;
        height: 17px;
        width: 17px;
    }

    .slider-container {
        flex-direction: column;
        justify-content: center;
        height: 485px;
    }

    .slider-container div.container {

        flex-wrap: wrap;
        height: 485px;
    }

    .slider-caption {
        visibility: hidden;
        display: none;
        font-size: 33px;
        font-family: "PTSans", Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        font-weight: normal;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
    }

    .twitter-plus {
        visibility: hidden;
        display: none;
        position: relative;
        height: 11px;
        top: 210px;
        left: 45px;
    }

    .twitter-plus img {
        transition: 0.3s;
    }

    .twitter-plus img:hover {
        transition: 0.3s;
        height: 17px;
        width: 17px;
    }

    .twitter-text {
        visibility: hidden;
        display: none;
        height: 28px;
        width: 28px;

        top: 10px;
        left: 210px;

        margin: 0px;
        position: relative;
        font-size: 25px;
        font-family: "Segoe WP", sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.517;
        text-align: left;
    }

    .twitter-form-chat {
        width: 320px;
        background-color: #F5C507;
    }

    .message {
        margin-bottom: 15px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(143, 142, 142);
        line-height: 1.2;
        text-align: left;
        width: 285px;
        height: 42px;
    }

    .message p {
        margin: 15px 25px;
        padding-top: 5px;
    }

    .message:first-child {
        background-image: url("assets/images/formmessagebackground.png")
    }

    .message:not(last-child) {
        background-image: url("assets/images/formmessagebg2.png")
    }

    .message:last-child {
        background-image: url("assets/images/formmessagebg3.png")
    }

    .twitter-form {
        width: 285px;
        padding-left: 15px;
    }

    .twitter-form input {
        width: 200px;
        border-radius: 15px 0px 0px 15px;
        border: 1px solid rgb(219, 154, 18);
        padding-left: 15px;
        height: 25px;
        margin: 0;
    }

    .twitter-form button {
        position: relative;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        height: 29px;
        border: none;
        background-color: rgb(219, 154, 18);
        border-radius: 0px 15px 15px 0px;
        margin: 0px;
        padding: 0 10px;
        right: 10px;
    }

    .scroll-container {
        visibility: hidden;
        display: none;
        height: 13px;
        width: 890px;
        margin: 42px auto 10px;
        padding: 0px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.478);
    }

    .current-position {
        background-color: #EC9E03;
        height: 13px;
        width: 215px;
        border-radius: 5px;
        margin-left: 241px;
    }

    .date {
        visibility: hidden;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 105px;
        width: 113px;
        background-color: #ddb101;
    }

    .date p:first-child {
        font-size: 51px;
        font-family: "Segoe UI",
            Arial,
            Helvetica,
            sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 0.744;
        text-align: left;
        margin: 0;
    }

    .date p:last-child {
        font-size: 28px;
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        color: rgb(178, 101, 41);
        line-height: 1.805;
        text-align: left;
        margin: 0;
    }

    .slider-wrapper {
        background-color: white;
    }

    .gadgets {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0px auto;


    }

    .tablet {
        margin-bottom: 40px;
        margin-left: 25px;
    }

    .phone {
        margin-bottom: 40px;
        margin-left: 25px;
    }

    .circle {
        position: relative;
        width: 13px;
        height: 300px;
    }

    .circle p {
        position: relative;
        left: 74px;
        margin: -69px;
        z-index: 27;
        font-size: 14px;
        font-family: "PTSans", Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
    }

    .pre-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("assets/images/gadgetsbg.png");

        height: 485px;
    }

    .description {

        position: relative;
        font-size: 36px;
        font-family: "PTSans", Arial, Helvetica, sans-serif;
        color: rgb(245, 197, 6);
        text-transform: uppercase;
        line-height: 1.2;
    }

    .list {
        visibility: hidden;
        display: none;
        position: relative;
        left: 85px;
        top: 57px;
        font-size: 22px;
        font-family: "Open Sans", sans-serif;
        color: rgb(169, 169, 167);
        line-height: 1.2;
        text-align: left;
        justify-content: right;
    }

    .list li {
        margin: 17px 0px;
        padding-left: 15px;
    }

    .list ul {
        list-style-image: url(assets/images/listcircle.svg);
    }

    footer {
        background-color: #4c4c4c;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    }

    footer div {
        display: flex;
        align-items: center;
        line-height: 1.2;
        text-align: center;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
    }

    footer div p {
        margin: 20px 0px 20px 10px;
        font-size: 17px;
        font-family: 'Lucida Sans', sans-serif;
        line-height: 1.2;
        text-align: center;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
        color: rgb(255, 255, 255);
        font-style: italic;
        text-transform: uppercase;
    }

    footer img {
        height: 32px;
        width: 32px;
        margin-left: 70px;
    }
}